@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-darkspace: hsla(230, 35%, 7%, 1);
  --color-paleblue: hsla(231, 77%, 90%, 1);
  --color-gray: hsla(231, 15%, 26%, 1);
}

@layer components {
  .heading1 {
    @apply font-bellfair uppercase
               text-[5rem]        leading-[100px]
            md:text-[9.375rem] md:leading-[9.375rem]
                               lg:leading-[10.75rem];
  }
  .heading2 {
    @apply font-bellfair uppercase text-[6.25rem] leading-[7.1875rem];
  }
  .heading3 {
    @apply font-bellfair uppercase text-[3.5rem] leading-[4rem];
  }
  .heading4 {
    @apply font-bellfair uppercase  
                text-xl leading-6 
                md:text-[2rem] md:leading-[2.3125rem];
  }
  .heading5 {
    @apply font-barlowcon uppercase 
               text-base         leading-[1.1875rem]   tracking-[0.1688rem]
            md:text-[1.25rem] md:leading-[1.5rem]   md:tracking-[0.21rem]
            lg:text-[1.75rem] lg:leading-[2.125rem] lg:tracking-[0.2969rem];
  }
  .subheading1 {
    @apply font-bellfair uppercase text-[1.75rem] leading-[2rem];
  }
  .subheading2 {
    @apply font-barlowcon uppercase text-sm leading-[1.0625rem] tracking-[0.1475rem];
  }
  .nav-text {
    @apply font-barlowcon uppercase text-base leading-[1.1875rem] tracking-[0.1688rem];
  }
  .body-text {
    @apply font-barlow 
              text-[0.9375rem] leading-[1.5625rem]
           md:text-base     md:leading-7
           lg:text-lg       lg:leading-[2rem];
  }
  .menu-bg-filter {
    backdrop-filter: blur(40.7742px);
    background: rgba(255, 255, 255, 0.04);
  }
  .page-container {
    grid-template-columns: minmax(5rem, 1fr) repeat(10, minmax(0, 1fr)) minmax(2rem, 1fr);
  }
  .max-height-100vh {
    max-height: 100vh;
    max-height: 100svh;
  }
}
